.needscapitals {
	text-transform: capitalize
}

body { padding-top: 70px; }

#FirstCity {
	background-color: papayawhip
}

#SecondCity {
	background-color: lightslategray
}

#ThirdCity {
	background-color: lightsalmon
}

 #map-canvas {
            width: 800px;
            height: 600px;
        }
